<div #strokeDropDownBtn (click)="toggleDropDown()" title="Stroke Width" class="dropbtn" [ngClass]="dropDownOpen ? 'displayOpen' : 'displayClosed'">
    <div style="pointer-events: none;" >
        <svg viewBox="0 0 100 30" height="30px" width="100px">
            <line [attr.x1]="dropDownDisplayItem[0]" [attr.y1]="dropDownDisplayItem[1]" [attr.x2]="dropDownDisplayItem[2]" [attr.y2]="dropDownDisplayItem[3]" [attr.style]="dropDownDisplayItem[4]" [ngClass]="dropDownOpen ? 'displayOpen' : 'displayClosed'" />
        </svg>
    </div>
    <div class="down-arrow">
        <i [ngClass]="dropDownOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
    </div>
</div>
<div #strokeDropDownContent id="myDropdown" class="dropdown-content" t>
    <div *ngFor="let opt of dropDownOptions; index as i">
        <div (click)="updateDisplay(i)" [attr.title]="dropDownOptions[i][5]">
            <svg viewBox="0 0 100 30" height="30px" width="100px">
                <line [attr.x1]="dropDownOptions[i][0]" [attr.y1]="dropDownOptions[i][1]" [attr.x2]="dropDownOptions[i][2]" [attr.y2]="dropDownOptions[i][3]" [attr.style]="dropDownOptions[i][4]" />
            </svg>
        </div>   
    </div>
</div>