<div id="tool-container">
    <div class="icon" title="Save" (click)="toolAction('save')">
        <i class="fas fa-save"></i>
    </div>
    <div class="icon" title="Open" (click)="toolAction('open')">
        <i class="fas fa-folder-open"></i>
    </div>
    <div class="icon" title="Import" (click)="toolAction('import')">
        <i class="fas fa-file-import"></i>
    </div>
    <div class="icon" title="Export" (click)="toolAction('export')">
        <i class="fas fa-file-export"></i>
    </div>
    <div class="icon">
        <div class="tool-item-spacer"></div> <!-- spacer between tooling groups -->
	</div>
    <div [ngClass]="inputSvc.currentTool == '0' ? 'icon selected-tool' : 'icon'" title="Select Tool" (click)="changeTool('select')">
        <i class="fas fa-mouse-pointer"></i>
    </div>
    <div [ngClass]="inputSvc.currentTool == '1' ? 'icon selected-tool' : 'icon'" title="Draw Tool" (click)="changeTool('draw')">
		<i class="fas fa-pencil-alt"></i>
    </div>
    <div [ngClass]="inputSvc.currentTool == '2' ? 'icon selected-tool' : 'icon'"  title="Pan" (click)="changeTool('pan')">
		<i class="fas fa-hand-paper"></i>
    </div>
    <div class="icon">
        <div class="tool-item-spacer"></div> <!-- spacer between tooling groups -->
	</div>
	<div [ngClass]="inputSvc.currentShape == '0' ? 'icon selected-tool' : 'icon'" title="Line" (click)="updateShape('line')">
		<i class="fas fa-slash"></i>
	</div>
	<div [ngClass]="inputSvc.currentShape == '1' ? 'icon selected-tool' : 'icon'" title="Rectangle" (click)="updateShape('rectangle')">
		<i class="fas fa-square"></i>
	</div>
	<div [ngClass]="inputSvc.currentShape == '2' ? 'icon selected-tool' : 'icon'" title="Ellipse"  (click)="updateShape('ellipse')">
		<i class="fas fa-circle"></i>
	</div>
	<div [ngClass]="inputSvc.currentShape == '3' ? 'icon selected-tool' : 'icon'" title="Polygon"  (click)="updateShape('polygon')">
		<svg viewBox="0 0 200 200" width="16px" height="14px">
            <polygon points="148,183.138438763306 52,183.138438763306 4,100 52,16.8615612366939 148,16.8615612366939 196,100"/>
		</svg>
    </div>
    <div [ngClass]="inputSvc.currentShape == '4' ? 'icon selected-tool' : 'icon'" title="Polyline"  (click)="updateShape('polyline')">
		<i class="fas fa-wave-square"></i>
	</div>
	<div [ngClass]="inputSvc.currentShape == '5' ? 'icon selected-tool' : 'icon'" title="Path"  (click)="updateShape('path')">
		<i class="fas fa-signature"></i>
    </div>
	<!-- <div [ngClass]="inputSvc.currentShape == '6' ? 'icon selected-tool' : 'icon'" title="Text"  (click)="updateShape('text')">
		<i class="fas fa-font"></i>
    </div>	 -->
    
    <!-- <div class="colorBox" title="Stroke Color">
        <div class="color-col-1">
            <div class="color-icon" (click)="updateColors(null,'scp')">
                <i class="fas fa-paint-brush"></i>
            </div>
        </div>
        <div class="color-col-2">
            <svg class="color-pick-stack" svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="20" height="10" viewBox="0 0 100 100" id="svg8978">
                <path class="no-color" d="M 6.3895625,6.4195626 C 93.580437,93.610437 93.580437,93.610437 93.580437,93.610437"/>
                <path class="no-color" d="M 6.3894001,93.6106 C 93.830213,6.4194003 93.830213,6.4194003 93.830213,6.4194003"/>
            </svg>
            <div #scpDisplay class="color color-pick-stack" id="stroke-color-display" [style.background-color]="strokeColor"></div>
            <color-sketch #scp class="color-picker-element" height="250px" width="250px" color="##000" (onChange)="updateColors($event, 'scp')"></color-sketch>
        </div>
    </div>
	<div class="colorBox" title="Fill Color">
        <div class="color-col-1">
            <div class="color-icon" (click)="updateColors(null,'fcp')">
                <i class="fas fa-fill-drip"></i>
            </div>
        </div>
        <div class="color-col-2">
            <svg class="color-pick-stack" svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="20" height="10" viewBox="0 0 100 100" id="svg8978">
                <path class="no-color" d="M 6.3895625,6.4195626 C 93.580437,93.610437 93.580437,93.610437 93.580437,93.610437"/>
                <path class="no-color" d="M 6.3894001,93.6106 C 93.830213,6.4194003 93.830213,6.4194003 93.830213,6.4194003"/>
            </svg>
            <div #fcpDisplay class="color color-pick-stack" id="fill-color-display" [style.background-color]="fillColor"></div>
            <color-sketch #fcp class="color-picker-element" height="250px" width="250px" color="##000" (onChange)="updateColors($event, 'fcp')"></color-sketch>
        </div>
    </div> -->
    <!-- <div class="icon">
        <app-drop-down [dropDownOptions]="strokeWidthOptions" (dropDownSelectionEvent)="updateStrokeStyle('stroke-width', $event)"></app-drop-down>
    </div>
    <div class="icon">
        <app-drop-down [dropDownOptions]="dashArrayOptions" (dropDownSelectionEvent)="updateStrokeStyle('stroke-dasharray', $event)"></app-drop-down>
    </div> -->
    <div class="mouse-coordinate-display">
       <span>x:{{mouseX}} y:{{mouseY}}</span>&nbsp;<i class="fas fa-mouse"></i>
    </div>
    <div class="zoom-level-display">
        <span>{{ zoomLevelDisplay }}</span>&nbsp;<i class="fas fa-binoculars"></i>
    </div>
</div>