<div class="mi-container">
    <div appMenuItemTitle>
        <i class="fas fa-chalkboard-teacher"></i> ViewBox
    </div>
    <div appMenuItemContent class="mi-content-grid-layout">
        <app-option-selector id="show-vb" [data]="componentSettings.vbDisplayData" (updateEvent)="toggleViewBox($event)" #showViewBox></app-option-selector>
        <app-number-input id="vb-width" [data]="componentSettings.vbWidthData" (updateEvent)="updateViewBoxWidth($event)" #vbWidth></app-number-input>
        <div appLockIcon id="vbW-vbH-lock"  (click)="toggleLock()"><i [ngClass]="componentSettings.isViewBoxLocked ? 'fas fa-lock' : 'fas fa-unlock'"></i></div>
        <app-number-input id="vb-height" [data]="componentSettings.vbHeightData" (updateEvent)="updateViewBoxHeight($event)" #vbHeight></app-number-input>
        <app-option-selector id="vb-outline" [data]="componentSettings.vbOutlineData" (updateEvent)="toggleViewBoxOutline($event)"></app-option-selector>
        <app-option-selector id="vb-transparency" [data]="componentSettings.vbOpacityData" (updateEvent)="toggleViewBoxOpacity($event)"></app-option-selector>
    </div>
</div>