.mi-content-grid-layout {
    display: grid;
    grid-template-areas:
        "showVB showVB showVB"
        "vbWidth vbW-vbH-lock vbHeight"
        "vbOutline vbOutline vbOutline"
        "vbTransparency vbTransparency vbTransparency";
}

#vb-label {
    grid-area: vbLabel;
}

#vb-width {
    grid-area: vbWidth;
}

#vb-height {
    grid-area: vbHeight;
}

#vbW-vbH-lock {
    grid-area: vbW-vbH-lock;
}

#show-vb {
    grid-area: showVB;
}

#vb-outline{
    grid-area: vbOutline;
}

#vb-transparency{
    grid-area: vbTransparency;
}