<div class="mi-container">
    <div appMenuItemTitle>
        <i class="fas fa-fill-drip"></i> Fill Options
    </div>
    <div class="mi-content">
        <app-option-selector id="fill-type" [data]="fillTypeData" [currentValue]="fillType" (updateEvent)="handleFillTypeChange($event)"></app-option-selector>
        <app-hue-picker id="hue-picker" [label]="'Hue'" [color]="fillColor" (colorEvent)="handleColorChange($event)"></app-hue-picker>
        <app-saturation-picker id="sat-picker" [label]="'Saturation'" [color]="fillColor" (colorEvent)="handleColorChange($event)"></app-saturation-picker>
        <app-alpha-picker id="alpha-picker" [label]="'Alpha'" [color]="fillColor" [alpha]="fillAlphaPercent" (colorEvent)="handleAlphaChange($event)"></app-alpha-picker>
        <app-hex-display id="hex-display" [label]="'Hex'" [color]="fillColor" (colorEvent)="handleColorChange($event)"></app-hex-display>
    </div>
</div>