@import '../../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.code-drawer {
    height: 330px;
    width: 100%;
    border-top: 1px solid gray;
    position: absolute;
    top: calc(100vh - 32px);
    transition: top ease .5s;
    z-index: 2;
    display: grid;
}

.drawer-tab {
    height: 30px;
    user-select: none;
    cursor: pointer;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid gray;
    vertical-align: middle;
    background-color: #e9e9e9;
}

.displayOpen {
    top: calc(100vh - 330px)
  }

.code-display {
    height: 300px;
    width: 100%;
    background-color: white;
    font-size: 12px;
    user-select: none;
    padding: 5px;
    white-space: pre-line;
}