.selectedObject {
    outline: 1px dashed var(--highlight);
    outline-offset: 10px;
    cursor: move;
}

#svg-container {
    height: 100%;
    width: 100%;
}

.show-vb {
    visibility: visible;
}

.hide-vb {
    visibility: hidden;
}