.selectedObject {
    outline: 1px solid var(--graphx-highlight1);
    outline-offset: 5px;
    cursor: move;
}

#svg-container {
    height: 100%;
    width: 100%;
}

.show-canvas {
    visibility: visible;
}

.hide-canvas {
    visibility: hidden;
}