<div class="mi-container">
    <div class="mi-title">
        <i class="fas fa-border-all"></i> Grid Display
    </div>
    <div class="mi-content">
        <app-option-selector id="showGrid" [label]="gridDisplayLabel" [options]="gridDisplayOptions" [default]="gridDisplayDefault" (optionEvent)="toggleGridLines($event)" #showGrid></app-option-selector>
        <app-option-selector id="snapGrid" [label]="snapGridLabel" [options]="snapGridOptions" [default]="snapGridDefault" (optionEvent)="toggleSnapGrid($event)" #snapGrid></app-option-selector>
        <app-number-input id="gridWidth" [label]="gridWidthLabel" [minimum]="gridWidthMin" [maximum]="gridWidthMax" [step]="gridWidthStep" [value]="gridWidthStartVal" (valueUpdate)="updateGridWidth($event)"></app-number-input>
        <app-number-input id="gridHeight" [label]="gridHeightLabel" [minimum]="gridHeightMin" [maximum]="gridHeightMax" [step]="gridHeightStep" [value]="gridHeightStartVal" (valueUpdate)="updateGridHeight($event)"></app-number-input>
    </div>
</div>