.hue-picker {
    border: 1px solid gray;
    cursor: pointer;
}

.color-hue-slider {
    outline: 1px solid gray;
    box-shadow: none !important;
    border-radius: 0px !important;
    width: 6px !important;
    height: 30px !important;
    transform: translate(-3px, -1px) !important;
    cursor: pointer;
    background-color: var(--primary-gray);
}
