.os-container {
    justify-content: center;
    color: var(--graphx-dark-gray);
    width: 278px;
}

.os-label {
    color: var(--graphx-dark-gray);
    font-size: 12px;
    padding-bottom: 2px;
}

.os-options {
    display: grid;
    max-width: 100%;
    height: 30px;
    border: 1px solid var(--graphx-dark-gray);
    border-right: none;
    grid-template-columns: repeat(var(--options-count), 1fr);
}

.os-option {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-right: 1px solid var(--graphx-dark-gray);
    font-size: 12px;
    cursor: pointer;
}

.selected {
    background-color: var(--graphx-highlight1);
    color: white;
}