.os-container {
    justify-content: center;
    color: var(--border-color);
}

.os-label {
    color: var(--border-color);
    font-size: 12px;
    padding-bottom: 2px;
}

.os-options {
    display: grid;
    width: 280px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-right: none;
    grid-template-columns: repeat(var(--options-count), 1fr);
}

.os-option {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-right: 1px solid var(--border-color);
    font-size: 12px;
    cursor: pointer;
}

.selected {
    background-color: var(--highlight);
    color: white;
}