#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
    "top-menu top-menu"
    "canvas side-menu"
    "code-drawer code-drawer";
  grid-template-columns: calc(100vw - 37px) 37px;
  grid-template-rows: 32px calc(100vh - 32px - 32px) 32px;
}

#top-menu {
    grid-area: top-menu;
}

#canvas {
    grid-area: canvas;
}

#side-menu{
    grid-area: side-menu;
}

#code-drawer {
    grid-area: code-drawer;
}