#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "simple-menu simple-menu"
    "graphx-canvas advanced-menu"
    "code-drawer code-drawer";
  grid-template-columns: calc(100vw - 37px) 37px;
  grid-template-rows: 32px calc(100vh - 32px - 32px) 32px;
}

#simple-menu {
    grid-area: simple-menu;
}

#graphx-canvas {
    grid-area: graphx-canvas;
}

#advanced-menu{
    grid-area: advanced-menu;
}

#code-drawer {
    grid-area: code-drawer;
}