#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "simple-menu simple-menu simple-menu"
    "shape-menu graphx-canvas advanced-menu"
    "code-drawer code-drawer code-drawer";
  grid-template-columns: 36px calc(100vw - (2 * 36px)) 36px;
  grid-template-rows: 31px calc(100vh - 31px - 32px) 32px;
}

#simple-menu {
    grid-area: simple-menu;
}

#shape-menu {
	grid-area: shape-menu;
}

#graphx-canvas {
    grid-area: graphx-canvas;
}

#advanced-menu{
    grid-area: advanced-menu;
}

#code-drawer {
    grid-area: code-drawer;
}