#advanced-menu {
    font-size: 16px;
    background-color: var(--graphx-light-gray);
    border: 1px solid var(--graphx-dark-gray);
	border-top: none;
	border-right: none;
    height: calc(100vh - 30px);
    width: 35px;

}

.icon {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-bottom: 1px solid var(--graphx-dark-gray);
    height: 35px;
    min-width: 35px;
    cursor: pointer;
    color: #000;
    user-select: none;
    transition: color ease-in-out .25s, stroke ease-in-out .25s, fill ease-in-out .25s;

    /* svg icon  */
    stroke-width: 20;
    stroke: #000;
    fill: #000;
}