<app-slider #slider></app-slider>
<div id="sideMenu">
	<div class="icon" title="Toggle Grid">
		<i class="fas fa-border-all"></i>
	</div>
	<div class="icon" title="Properties" (click)="toggleItemDisplay('properties')">
		<i class="fas fa-cog"></i>
	</div>
	<div class="icon" title="Zoom">
		<i class="fas fa-binoculars"></i>
	</div>
	<div class="icon" title="Arrangement">
		<i class="fas fa-expand-arrows-alt"></i>
	</div>
	<div class="icon" title="Rotate">
		<i class="fas fa-sync"></i>
	</div>
	<div class="icon" title="Geometry">
		<i class="fas fa-ruler-combined"></i>
	</div>
	<div class="icon" title="Objects">
		<i class="fas fa-cubes"></i>
	</div>
	<div class="icon" title="Typography">
		<i class="fas fa-paragraph"></i>
	</div>
	<div class="icon" title="Library">
		<i class="fas fa-university"></i>
	</div>
	<div class="icon" title="Settings">
		<i class="fas fa-sliders-h"></i>
	</div>
	<div class="icon" title="History">
		<i class="fas fa-history"></i>
    </div>
	<div class="icon" title="Documentation">
        <i class="fas fa-book"></i>
    </div>
    <!-- <div class="icon" title="Group Objects">
		<i class="fas fa-object-group"></i>
    </div>
	<div class="icon" title="Ungroup Objects">
		<i class="fas fa-object-ungroup"></i>
    </div>
	<div class="icon" title="Move Forward">
		<i class="fas fa-arrow-up"></i>
    </div>
	<div class="icon" title="Move Backward">
        <i class="fas fa-arrow-down"></i>
    </div> -->
</div>
