.slider {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 32px;
    right: 37px;
    background-color: var(--graphx-light-gray);
    overflow-x: hidden;
    transition: ease .5s;
    border-left: 1px solid var(--graphx-dark-gray);
    visibility: hidden;
    user-select: none;
}

.slider-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}

/* remove this after moving menu items */
.slider-title {
    font-size: 30px;
    color: gray;
}

.display-open {
    width: 300px;
    visibility: visible;
}