@import '../../../../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.slider {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 32px;
    right: 37px;
    background-color: #e9e9e9;
    overflow-x: hidden;
    transition: ease .5s;
    border-left: 1px solid gray;
    visibility: hidden;
    user-select: none;
  }

  .slider-content{
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
  }

  .slider-title{
      font-size: 30px;
        color: gray;
  }

  .displayOpen {
    width: 300px;
    visibility: visible;
  }