<div #slider class="slider">
    <div class="slider-content" [ngSwitch]="currentView">
        <ng-container *ngSwitchCase="'stroke'">
                <app-stroke-options></app-stroke-options>
        </ng-container>
        <ng-container *ngSwitchCase="'fill'">
                <app-fill-options></app-fill-options>
        </ng-container>
        <ng-container *ngSwitchCase="'grid'">
            <app-gridlines></app-gridlines>
        </ng-container>
        <ng-container *ngSwitchCase="'properties'">
            <div class="slider-title">
                <i class="fas fa-cog"></i> Properties
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'arrangement'">
            <div class="slider-title">
                <i class="fas fa-expand-arrows-alt"></i> Arrangement
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'viewBox'">
            <app-viewbox></app-viewbox>
        </ng-container>
        <ng-container *ngSwitchCase="'objects'">
            <div class="slider-title">
                <i class="fas fa-cubes"></i> Objects
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'typography'">
            <div class="slider-title">
                <i class="fas fa-paragraph"></i> Typography
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'library'">
            <div class="slider-title">
                <i class="fas fa-university"></i> Library
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'settings'">
            <div class="slider-title">
                <i class="fas fa-sliders-h"></i> Settings
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'history'">
            <div class="slider-title">
                <i class="fas fa-history"></i> History
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'documentation'">
            <div class="slider-title">
                <i class="fas fa-book"></i> Documentation
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'about'">
                <app-about></app-about>
        </ng-container>
    </div>
</div>