.svg-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

svg {
    border: 1px solid #bebebe;
    background-color: #FFF;
    margin-left: 10px;
    margin-top: 10px;
}

.selectedObject{
    outline: 1px dashed var(--highlight);
    outline-offset: 10px;
    cursor: move;
}