.ni-label {
    color: var(--graphx-dark-gray);
    font-size: 12px;
    padding-bottom: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::after {
    content: 'px';
}

.ni-container input:focus {
    outline: 0;
}

.ni-container {
    border: 1px solid var(--graphx-dark-gray);
    display: grid;
}

.ni-container.show-buttons {
    grid-template-columns: 75px 25px 25px;
}

.ni-container.hide-buttons {
    grid-template-columns: auto;
}

.hide-buttons>.ni-button {
    display: none;
}

.ni-container input {
    font-family: Ubuntu;
    width: auto;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box
}

.ni-button {
    width: 25px;
    height: 30px;
    background-color: white;
    /* text-align: center; */
    cursor: pointer;
    color: var(--graphx-dark-gray);
}

.ni-button :hover {
    color: var(--graphx-highlight1);
}

i {
    line-height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}