@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: Ubuntu;
    src: url(./app/resources/fonts/Ubuntu-Regular.ttf);
}

:root {
    --graphx-highlight1: #00aad4;
    --graphx-highlight2: #2cd307;
    --graphx-light-gray: #e9e9e9;
    --graphx-dark-gray: #808080;

    --graphx-font-ubuntu: Ubuntu;
}

/* objects selected on canvas */
.selectedObject {
    outline: 1px solid var(--graphx-highlight1);
    outline-offset: 5px;
    cursor: move;
}

/* canvas guides to visualize shape pre-rendering */
.anchor-point, .anchor-outline {
	stroke: var(--graphx-highlight2);
	fill: var(--graphx-highlight2);
	stroke-width: 1px;
	shape-rendering: optimizeSpeed;
}

.anchor-outline {
	fill: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    overflow: hidden;
    
    /* background-color: #eee; */
    background-image: linear-gradient(45deg, whitesmoke 25%, transparent 25%, transparent 75%, whitesmoke 75%, whitesmoke),
    linear-gradient(45deg, whitesmoke 25%, transparent 25%, transparent 75%, whitesmoke 75%, whitesmoke);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.disabled-feat {
	cursor: not-allowed !important;
}